<ul>
  <li><a href="/schools">School Index</a></li>
  <li><a href="/students">Student Index</a></li>
  <%= link_to "Create Student", "/schools/#{@school.id}/students/new" %>
</ul>
<h1><%= @school.name %></h1>
<p>Students: </p>
<% @students.each do |student| %>
  <h3><%= student.name %></h3>
  <p>Grade: <%= student.grade %></p>
  <p>English Learner: <%= student.english_learner %></p>
  <br>
<% end %>