<ul>
  <li><a href="/schools">School Index</a></li>
  <li><a href="/students">Student Index</a></li>
</ul>
<h1>All Students</h1>

<% @students.each do |student| %>
  <div id=<%="#{student.name}"%>>
    <p><strong><%= student.name %></strong> <%= link_to "Edit Student", "/students/#{student.id}/edit" %></p>
    <p>Grade: <%= student.grade %></p>
    <p>English Learner: <%= student.english_learner %></p>
    <br>
  </div>
<% end %>
