<ul>
  <li><a href="/schools">School Index</a></li>
  <li><a href="/students">Student Index</a></li>
</ul>

<h1><%= @student.name %></h1> <%= link_to "Edit Student", "/students/#{@student.id}/edit" %>

<p>Grade: <%= @student.grade %></p>

<p>English Learner: <%= @student.english_learner %></p>

<p><%= link_to "Delete Student", "/students/#{@student.id}", method: :delete %></p>
