<ul>
  <li><a href="/schools">School Index</a></li>
  <li><a href="/schools/<%=@school.id%>/students">School Student</a></li>
  <li><a href="/students">Student Index</a></li>
</ul>

<h1><%= @school.name %></h1> <%= link_to "Edit School", "/schools/#{@school.id}/edit" %>
<p>ESL Program: <%= @school.esl_program %></p>

<p>Tuition: <%= @school.tuition %></p>

<p>Number of students: <%= @student_count %></p>

<p><%= link_to "Delete School", "/schools/#{@school.id}", method: :delete %></p>